{% extends "base.html" %}

{% block content %}
        
    <form method='post'>
        <fieldset>
            <legend><h1><strong>Add a Blog Entry</strong></h1></legend>
            <label>
                <h3>Title for your new blog:</h3>
                <input type="text" name="title" value="{{post_title}}"/>
                <p class="error"><i>{{ title_error }}</i></p>
            </label>

            <label>
                <h3>Your new blog:</h3>
                <textarea name="content" rows="15" cols="60">{{post_content}}</textarea>
                <p class="error"><i>{{ content_error }}</i></p>
            </label>

            <input type="submit" value="Add Entry">
        </fieldset>
    </form>

{% endblock %}
